<%include partials/header%>
<html>
	<body>
		<%include partials/logout%>
		<h1>HOme</h1>
		<h3>Welcome <%=name%></h3>
		<h2 id="community_header">Node Connect Statuses</h2>
		<div id="community_statuses_div">
			<ul class="user_statuses">
				<%user_statuses.forEach(function(status){ %>
					<li class="clearfix">
						<img src="/profile_images/<%=status.profile_pic%>" alt="">
						<div class="poster_name">
							<%=status.name%>
						</div>
						<p><%=status.user_status%></p>
					</li>
					<h4><%=status.status_date%></h4>
					<h4><%=status.name%></h4>
				<%})%>
			</ul>
			<textarea name="" id="statuses_textarea" cols="50" rows="4"></textarea><br>
			<button id="submit_status_button" onclick='submitStatus()' type="submit">Post Status</button>
		</div>

		<script>
	function submitStatus() {
		var textArea = document.querySelector('#statuses_textarea');
		var data = textArea.value;
		$.post("/user_status/create", {data: data}, function(error, data) {
			if(err) {
				alert(err);
			}
			JSON.stringify(data);
			alert('Data: ' + data + "\nStatus: " + status)
		});
	};

</script>
	</body>
</html>