<%include partials/header%>
<html>
    <body>
        <%include partials/logout%>
        <button id="edit_profile_button">Edit</button>
        <h1 id="profile_header">Profile</h1>
         <div class='user_friends_list_section'>
            <h2>Friends</h2>
            <ul>
                <%validUser.friends.forEach(function(friend){%>
                    <li>
                        <div id="<%=friend._id%>" class="friend_request">
                            <div class="friend_request_pic">
                                <img src="/profile_images/<%=friend.profile_pic%>" alt="">
                            </div>
                            <span><%=friend.friend_name%></span><br>
                            <button type="button" onclick="window.location.href ='/user_profile/<%=friend._id%>'">Go To Profile</button>
                            <button id="<%=friend._id%>" class="chat_button">Chat</button>
                        </div>
                    </li>
                <%})%>
            </ul>
        </div>
        <div id="user_profile_div">
            <div class="profile_info" id="profile_picture_div">
                <h2 id="user-name">Name: <%=validUser.name%></h2>
                <h2 id="user-location">Location: <%=validUser.user_profile.location%></h2>
                <img src="/profile_images/<%=validUser.user_profile.profile_pic%>" alt="">
            </div>
            <div class="profile_info" id="about">
                <h3>About Me</h3>
                <p id="user-about"><%=validUser.user_profile.description%></p>
            </div>
            <div class="profile_info" id="interests">
                <h3>Interests</h3>
                <p id="user-interests"><%=validUser.user_profile.interests%></p>
            </div>
        </div>

        <div style="display: none" id="edit_profile_form_container">
            <form action="" id="edit_profile_form">
                <ul>
                    <li>
                        <label for="name">Name</label>
                        <input type="text" name="name" id="user-name" value="<%=validUser.name%>">
                    </li>
                    <li>
                        <label for="location">Location</label>
                        <input type="text" name="location" id="user-location" value="<%=validUser.user_profile.location%>">
                    </li>
                    <li>
                        <label for="description">Description</label>
                        <textarea name="description" id="user-about" cols="30" rows="4"><%=validUser.user_profile.description%></textarea>
                    </li>
                    <li>
                        <label for="interests">Interests</label>
                        <textarea name="interests" id="user-interests" cols="30" rows="4"><%=validUser.user_profile.interests%></textarea>
                    </li>
                    <li>
                        <label for="profile_pic">Profile Pic</label>
                        <input type="file" onchange="uploadProfileImage()" id="upload_profile_pic">
                    </li>
                </ul>
                <button id="save_profile_button">Save</button>
                <button id="cancel_edit_profile">Cancel</button>
            </form>
        </div>
        <div class='friend_request_section'>
            <h2>Pending Requests</h2>
            <ul>
                <%validUser.friend_requests.forEach(function(request){%>
                    <li>
                        <div id="<%=request._id%>" class="friend_request">
                            <div class="friend_request_pic">
                                <img src="/profile_images/<%=request.profile_pic%>" alt="">
                            </div>
                            <span><%=request.friend_name%></span><br>
                            <button id="accept_friend_request">Accept</button>
                        </div>
                    </li>
                <%})%>
            </ul>
        </div>
        <div id="chat_section_wrapper"></div>
    <script>
        var socket = io();
        socket.emit('attach_user_info', {"_id": "<%=validUser._id%>", "user_name": "<%=validUser.name%>"})
        $("#save_profile_button").on('click', function(e) {
            e.preventDefault();
            $.ajax({
                method: "POST",
                url: "/user_profile/edit",
                data: $('#edit_profile_form').serialize(),
                success: function(data) {
                $("#user-name").text("Name: " + data.name);
                $("#user-location").text("Location: " + data.user_profile.location);
                $("#user-about").text(data.user_profile.description);
                $("#user-interests").text(data.user_profile.interests);
                 $("#edit_profile_form_container").hide();
                }
            })
        })

        $("#edit_profile_button").on('click', function() {
            $("#edit_profile_form_container").show();
        })

        $("#cancel_edit_profile").on('click', function(e) {
            e.preventDefault();
            $("#edit_profile_form_container").hide();
        })

        function uploadProfileImage() {
            var image_to_upload = $("#upload_profile_pic")[0].files[0];
            var reader = new FileReader();
            reader.readAsDataURL(image_to_upload);
            reader.onload = function() {
                var imageData = {"image_data": reader.result.split(',')[1], "image_type": image_to_upload.type.split('/')[1]};
                var data = JSON.stringify(imageData);
                $.post('/profile_pic/upload', {data: data}, function(data) {
                    alert(data);
                    // $(".profile_info img").remove();
                    // $("#profile_picture_div").append("<img src=/profile_images/" + data + ">");
                })
            }
        }

        $("#accept_friend_request").on('click', function() {
            var friend_member_id = $(this).parent().attr('id');
            var data = friend_member_id; 
            $.post('/accept_friend_request', {data: data}, function(response) {
               console.log(response);
            });
            $(".friend_request").parent().remove();
        });

        $('.chat_button').on('click', function() {
            var chat_box = `
            <div class="chat_section">
                <div id="chat_title_section">
                    <span>Node Connect Chat</span>
                    <div class="chat_close">
                        <img src="/images/node_connect_close.png" alt="" />
                    </div>
                </div>
                <div class="all_chat_messages">
                </div>
                <div id="send_message">
                    <input type="text" id="send_message_input" placeholder="Send Message"/>
                </div>
            </div>
            `
        $('#chat_section_wrapper').append(chat_box)
        })
        $(document).on('click', ".chat_close", function() {
            $(".chat_section").remove();
        })

        socket.on('message_from_server', function(received_msg) {
            $(".all_chat_messages").append("<div class='usr_msg'>" + "<span class='user_with_message'>" + received_msg.user_name + "</span>" + "<div class='usr_msg_box'><p>" + received_msg.msg + "</p>" + "</div>" + "</div>")
        })

        $(document).on('keypress', "#send_message_input", function(e) {
            if(e.keyCode === 13) {
                var chat_message_content = $(this).val();
                $(".all_chat_messages").append("<div class='usr_msg'>" + "<span class='user_with_message'>You</span>" + "<div class='usr_msg_box'><p>" + chat_message_content + "</p>" + "</div>" + "</div>")
                socket.emit('message_from_client', {"msg": chat_message_content, "friend_id": $(".chat_button").attr('id')});
                $(this).val('')
            }
        })
    </script>
    </body>
</html>